/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body (fixed extension size) */
body {
  height: 400px;
  width: 380px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle at center, #0b1220 0%, #05070c 75%);
  font-family: "Montserrat", sans-serif;
  color: #9ca3af;
}

/* Main container */
.main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  text-align: center;
  padding: 20px;
}

/* Logo container */
.logo-container {
  position: relative;
  border-radius: 50%;
  padding: 8px;
  transition: all 0.4s ease;
}

/* Ring */
.logo-container::before {
  content: "";
  position: absolute;
  inset: -6px;
  border-radius: 50%;
  border: 2px solid rgba(74, 222, 128, 0.15);
  transition: all 0.4s ease;
}

/* Logo */
.logo-container img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: all 0.4s ease;
}

/* Hover effect */
.logo-container:hover {
  transform: scale(1.05);
}

.logo-container:hover::before {
  border-color: rgba(74, 222, 128, 0.6);
  box-shadow: 0 0 30px rgba(74, 222, 128, 0.25);
}

/* Title */
.title {
  color: #4ade80;
  font-size: 24px;
  font-weight: 600;
}

/* Description */
.description {
  font-size: 13px;
  line-height: 1.5;
  opacity: 0.75;
  padding: 0 10px;
}

/* Button */
.cta {
  /* width: 90%; */
  padding: 15px 50px;

  background: #16a34a;
  color: white;

  font-size: 15px;
  font-weight: 500;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;

  transition: all 0.25s ease;

  white-space: nowrap;
}

/* Button hover */
.cta:hover {
  transform: translateY(-2px);
  background: #22c55e;
  box-shadow: 0 8px 25px rgba(34, 197, 94, 0.35);
}

/* Click effect */
.cta:active {
  transform: scale(0.97);
}